---
version: '3.7'

services:
  app:
    build: .
    volumes:
      - .:/app:cached
      - /app/node_modules
    ports:
      - 3000:3000  # for HTTP Server
      - 9229:9229  # for Node.js Inspector
